---
layout: page
title: Artigos e Meetups
excerpt: "RubyFloripa é a comunidade de Usuários Ruby e Rails de Florianópolis-SC e região."
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<a href="{% link blog/index.md %}" class="btn see-more-btn">ver mais</a>
