{% if site.owner.disqus.shortname %}
<script type="text/javascript">
    var disqus_shortname = '{{ site.owner.disqus.shortname }}'; // required: replace example with your forum shortname
    var disqus_config = function () {
        this.page.url = '{{ canonical }}';
        this.page.identifier = disqus_shortname;
    };

    (function() {
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//{{ site.owner.disqus-shortname }}.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
