/* ==========================================================================
   Site footer
   ========================================================================== */

.footer-wrapper {
  @include clearfix;
  margin: 0 auto !important;
  text-align: center;
  font-family: $alt-font;
  @include font-size(14);
  font-style: italic;
  color: $white;
  background-color: $red;

  a {
    color: $white;
  }
}

.footer-navigation-wrapper {
  text-align: center;
  @include clearfix;

  ul {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 20px 0 20px;
    padding: 20px 20px 4px 20px;

    @include media($medium) {
      width: auto;
    }

    @include clearfix;
  }

  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(24,no);
    text-transform: uppercase;
    margin-right: 20px;

    @include media($medium) {
      @include font-size(14,no);
    }

    a {
      border-radius: 6px;
      @include box-shadow($shadow: inset 0 0 1px darken($red, 15));
      background-color: darken($red, 4);

      @include media($medium) {
        padding: 6px 10px;
      }

      &:hover {
        background-color: lighten($red, 10);
      }
    }
  }
}

/*
   Social media icons
   ========================================================================== */

.social-icons {
  margin: 1em 0 2em;

  a {
    padding: 4px 8px;

    &:hover {
      color: $black;
    }
  }
}
